
/* GENERAL STYLES ****************************************************/

h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

.logo{
    background-image:url('../img/HT-full-logo1.svg');
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    background: coral;
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
}

a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    margin: 5px;
    margin-right: 10px;

}

a:hover{
    text-decoration: none;
    color: white;
}

.shop-button{
    font-family: 'Montserrat', sans-serif;
    color: #F3ECF6;
    background: #8C8092;
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
}

.shop-button:hover{
    text-decoration: none;
}

header {
    background: #29222C;
    height: 80px;
}

/* DESKTOP NAV***************************************************** */

.desktop-nav{
    margin: 0;
    width: 100%;
}

.desktop-nav button{
  margin-top: 5px;
  margin-left: 20px;
}

.desktop-nav ul{
    list-style: none;
    padding: 0;
    float: right;
    margin: 20px 30px 0 0;
}

.desktop-nav li{
    display: inline-block;
}

.desktop-nav li:hover{
    border-bottom: white 2px solid;
}

.desktop-nav .shop-button:hover{
    background: transparent;
    border: 2px solid white;
    color:  white;
    box-shadow: none;
    padding: 8px 28px;
}


/* MOBILE NAV***************************************************** */

.mobile-nav{
    display: none;
    width: 100%;
}

.mobile-nav button{
  margin: 20px 20px 10px 0;
  float: right;
}

.mobile-nav .logo{
  margin: 14px 0 10px 20px;
  float: left;
}

/* HERO SECTION***************************************************** */

.hero{
    background-image: url('../img/HT-hero-pic.jpg');
    background-image: linear-gradient(to top, white 2%, transparent), url('../img/HT-hero-pic.jpg');
    background-size: cover;
    background-position: bottom;
    height: 700px;
}

.hero-image{
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
}

.hero-container {
    margin-left: 45%;
}

.hero-container a{
    margin-top:350px;
    display: inline-block;
}

.hero .shop-button:hover{
    background: transparent;
    border: 4px solid #29222C;
    color:  #29222C;
    padding: 6px 26px;
}

/* PRODUCTS SECTION***************************************************** */

.products-container{
    margin-top: 200px;
    height: 600px;
    background: linear-gradient(to bottom, white 4%, #29222C);
}

.products-container a{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-left: 0;
}

.jewelry-card h1, .silk-card h1{
  color: #29222C;
  position: absolute;
  background: white;
  opacity: .7;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
}

.jewelry-title, .silk-title{
  display: inline-block;
  margin-left: 50px;
  width: 40%;
}

.jewelry-card{
  background-image: url('../img/jewelry-card-pic.jpg');
}


.silk-card{
  background-image: url('../img/scarf-card-pic.jpg');
}

.jewelry-card, .silk-card{
    display: inline-block;
    height: 60%;
    width: calc(40% - 50px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10%;
    position:relative;
    overflow: hidden;
}

.jewelry-card-popup, .silk-card-popup{
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(60px);
  transition-duration: 0.3s;
}

.jewelry-card:hover .jewelry-card-popup{
  display: inline-block;
  transform: translateY(0px)
}

.silk-card:hover .silk-card-popup{
  display: inline-block;
  transform: translateY(0px)
}

.silk-card:hover, .jewelry-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* FEATURED COLLECTION SECTION***************************************************** */

.featured-collection-container{
    height:400px;
    background: #29222C;
}

.collection-card{
    display: inline-block;
    height: 300px;
    width: calc(50% - 100px);
    background: #555;
    margin-top: 50px;
    margin-left: 75px;
}

.collection-text-card{
    display: inline-block;
    height: 300px;
    width: calc(50% - 100px);
    background: #999;
}


/* FOOTER***************************************************** */

footer{
    height: 500px;
    background: #29222C;
}

footer hr{
  border: 5px;
  margin: 2px;
  align: center;
  width: 80%;
}

footer h1{
    color :white;
    margin-left: 50px;
    padding-top: 10px;
}

input:focus, textarea:focus{
  outline-color: transparent;
  background: transparent;
  border-style: none;
  border-color: transparent;
  outline: -webkit-focus-ring-color none 5px;
  border-bottom: 2px solid white;
  color: white;
}

label{
  margin-left: 50px;
  color: white;
}

input{
  display: block;
  margin-left: 50px;
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
}
textarea{
  display: block;
  margin-left: 50px;
  height: 90px;
  width: 300px;

}

button{
  margin-left: 50px;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #F3ECF6;
  background: #8C8092;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

/* Sizing Queries ****************************************************/

@media (max-width:900px) {
  .hero, .hero-image{
    height: 500px;
  }

  .hero a{
    margin-top: 200px;
  }

  .products-container{
    margin-top: 30px;
    height: 300px;
  }

  .jewelry-card, .silk-card{
    height: 250px;
  }

}


@media (max-width:700px) {
  .hero, .hero-image{
    height: 500px;
  }

  .hero a{
    margin-top: 200px;
  }

  .products-container{
    margin-top: 30px;
    height: 600px;
  }

  .jewelry-card, .silk-card{
    height: 250px;
    margin-top: 20px;
    display: block;
  }

}

@media (max-width:610px) {
  .mobile-nav{
    display: inline-block;
  }

  .desktop-nav{
    display: none;
  }

  .hero, .hero-image{
    height: 400px;
  }

  .hero a{
    margin-top: 200px;
  }

  .products-container{
    margin-top: 30px;
    height: 600px;
  }

  .jewelry-card, .silk-card{
    height: 250px;
    margin-top: 20px;
    display: block;
  }

}
